.form {
    display: inline-block;
    width: 100Į;
    
}

.form > * {
    margin-bottom: 20px;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form > label {
    display: none;
}

.form > .input {
    padding: 0.5em 0;
    font-size: 17px;
    line-height: 1.5em;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0.2em;
}

.form > textarea {
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
}

.form > input {
    width: calc(50% - 10px);

}
.form > input:last-of-type {
    float: right;
}



.form *:focus {
    outline: 1px solid var(--secondary-color);
} 