/* base */
@import "../base/reset.css";
@import "../base/variables.css";
@import "../base/reset.css";

/* 3rd-party*/


/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* CUSTOM STYLE BELOW THIS COMMENT, FOR THIS PAGE */


.container {
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: aquamarine;
}

.left {
    
}

:right {

}

/* min-width */
/* max-width */
/* width */

@media (max-width: 1100px) {
    .container {
        width: 800px;
        margin-left: calc(50% - 400px);
        background-color: pink;
    }
    
}



@media (max-width: 900px) {
    .container {
        width: 600px;
        margin-left: calc(50% - 300px);
        background-color: rgb(146, 31, 50);
    }
    
}

@media (max-width: 700px) {
    .container {
        width: 400px;
        margin-left: calc(50% - 200px);
        background-color: rgb(146, 31, 50);
    }
    
}
@media (max-width: 500px) {
    .container {
        width: 100%;
        margin-left: 0;
        padding: 30px;
        background-color: rgb(146, 31, 50);
    }
    
}














